<div mat-dialog-title>
    <h1>Ajouter Un Etudiant</h1>
  </div>
  <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput type="text" placeholder="Entrez le nom de l'étudiant" formControlName="nom"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Prénom</mat-label>
        <input matInput type="text" placeholder="Entrez le prénom de l'étudiant"formControlName="prenom" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Entrez l'email de l'étudiant" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Classe</mat-label>
        <input matInput type="text" placeholder="Entrez la classe de l'étudiant" formControlName="classe"/>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="datenaiss" type="date"/>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Adresse</mat-label>
        <input matInput type="text" placeholder="Entrez l'adresse de l'étudiant" formControlName="adresse"/>
      </mat-form-field>
      
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button color="warn" type="button" mat-dialog-close="false">cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ?'Update': 'Save'}}</button>
  </div>
</form>
  